$fs-1: pxToRem(44px)
$fs-2: pxToRem(30px)
$fs-2-5: pxToRem(28px)
$fs-3: pxToRem(22px)
$fs-3-5: pxToRem(18px)
$fs-4: pxToRem(16px)
$fs-5: pxToRem(14px)

$main-text-color: #282C37
$btn-green-color: #47CF34
$btn-green-active: #30B01E
$link-active: #5391DC
$bg-color: #6CA7EF
$bg-color-active: #5391DC
$white-color: #fff