.header__logo-block.col-4
    a(class='header__logo-icon', href='./')
        img(src="./assets/icons/logo.svg", alt="Logo")

ul.header__navbar-list.col-6.p-0.m-0
    +navListItem(navbarItems, 'header__navbar-item')

ul.header__icon-list.col-2.p-0.m-0
    +iconListItems('header__icon-item', "#282C37")

.header__burger.col-8
    include ./burger
include ./mobile_navbar