.footer__body.row.justify-content-between.align-items-center
    .footer__text-block.col-6
        span.footer__text Все права защищены ©
    ul.footer__icon-list.col-6.p-0.m-0.d-flex.gap-4.justify-content-end
        +iconListItems('footer__icon-item', "#9FA7B0")
