-
    const navbarItems = [
        {link: './', text: 'консультации'},
        {link: './services.html', text: 'Услуги'},
        {link: './trainings.html', text: 'Треннинги'},
        {link: 'https://exapmle.com', text: 'блог'},
    ]

    const imgMiniCube = './assets/icons/miniCube.svg'

    const homeQuestesItems = [
        {link: '#', text: 'Как найти точки роста и определить цели?', imgUrl: imgMiniCube},
        {link: '#', text: 'Как увеличить прибыль, управляя ценами?', imgUrl: imgMiniCube},
        {link: '#', text: 'Как избежать проблем на старте нового бизнеса?', imgUrl: imgMiniCube},
        {link: '#', text: 'Как не попасть в "черную дыру" затрат на продвижение?', imgUrl: imgMiniCube},
    ]

    const homeServicesItems = [
        {
            link: './services.html', 
            text: 'Разрабатываем маркетинг-план: дорожная карта достижения целей',
            imgUrl: './assets/icons/report.svg'
        },
        {
            link: './services.html', 
            text: 'Повышаем эффективность продвижения: аудит существующей модели',
            imgUrl: './assets/icons/bulb.svg'
        },
        {
            link: './services.html', 
            text: 'Находим скрытую прибыль: анализ модели ценообразования',
            imgUrl: './assets/icons/search.svg'
        },
        {
            link: './services.html', 
            text: 'Запускаем новый проект: start-up маркетинг',
            imgUrl: './assets/icons/rocket.svg'
        }
    ]