.home-about__body.row.align-items-center.justify-content-md-between.ps-2.justify-content-center
    .home-about__title-block.col-sm-12.col-xl-6.col-md-7.ps-4.pt-4.row.gap-md-3.order-2.order-md-1
        h1.home-about__title
            |Создаем решения
            span.fs-3.d-block.pt-2 Для роста бизнеса
        span.home-about__subtitle.d-block На основе анализа данных с алгоритмами реализации
        .home-about__btn-block
            button.home-about__btn.btn.btn-primary.green-btn Обсудить проблему
    .home-about__img.col-sm-12.col-xl-6.col-md-5.order-1.order-md-2
        img(src="./assets/images/img/cube.png", alt="Cube", class="img-fluid")